
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #4f46e5, #6b46c1); */
}

/* Form styling */
.auth-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 380px;
    text-align: center;
}

/* Heading */
.auth-title {
    font-size: 24px;
    font-weight: bold;
    
    margin-bottom: 15px;
    color: #333;
}

/* Input fields */
.auth-input {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.auth-input:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 5px rgba(79, 70, 229, 0.5);
}

/* Submit button */
.auth-button {
    width: 25%;
    padding: 12px;
    background: #4f46e5;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.auth-button:hover {
    background: #3b3abe;
}

/* Links */
.auth-text {
    margin-top: 15px;
    font-size: 14px;
}

.auth-text a {
    color: #4f46e5;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.auth-text a:hover {
    text-decoration: underline;
}
